html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  min-width: 1200px;
  
  background-color: #ffffff;
  background-image: url("img/bg-white.jpg");
  background-position: top center;
  background-repeat: repeat;
}
  
a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  }

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.main-header {

  /* Временно для сетки */
  min-height: 70px;
  
  background-color: #eeeeee;
  background-image: url("img/bg-grey.png"); 
}

.button:hover {
  background-color: #e74246;
}

.button:active,
.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b; 
}

.main-head-logo {
  order: 0;
  width: 170px;
  height: 85px;
  margin-left: 20px;
  
}

.main-head-logo .logo:hover {
  opacity: 0.8;
}

.main-head-logo .logo:focus,
.main-head-logo .logo:active {
  opacity: 0.3;
}

.main-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  
  /* Временно для сетки */
  min-height: 115px;
  
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;  
  }
  
.site-navigation {
  width: 640px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 100px;

  /* Временно для сетки */
  min-height: 115px;
}

.cart {
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 60px;
  margin-right: 20px;

  /* Временно для сетки */
  min-height: 70px;
}

.site-navigation,
.cart {
  list-style: none;
  }

.site-navigation a,
.cart a {
  color: #000000;
  }
  
.site-navigation a:hover,
.cart a:hover {
  color: #fb565a;
  }
  
.site-navigation a:focus,
.cart a:focus {
  color: rgba(0, 0, 0, 0.3)
  }
 
.site-navigation-current {
  border-bottom: 2px solid red;
  display:inline-block;
  line-height: 0.85;
}

.slider {
  margin-left: 20px;
  margin-right: 20px;
}

.features {
  padding: 0;
  margin: 0;
  display: flex;
  width: 1160px;
  justify-content: space-between;
  min-height: 420px;
}

.feature-list {
  list-style: none;
  width: 380px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  min-height: 415px;
  }

.slider-img {
  width: 760px;
  min-height: 415px;
  
}

.features-description {
  font-size: 55px;
  line-height: 55px;
}


.assortment {
  display:flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  
  background-color: #ffffff;
  background-image: url("img/bg-white.jpg");
  background-position: top center;
  background-repeat: repeat;
}

.assortment-item {
  margin-right: 100px;
}

.assortment-item:nth-child(3) {
  margin-right: 60px;
}

.assortment h3 {
  font-size: 24px;
  font-style: 34px;
  text-transform: uppercase;
}

.assortment .button-apps {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
  
}

.assortment .button-apps:hover {
  background-color: #00bc6c;  
}

.assortment .button-apps:focus,
.assortment .button-apps:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.assortment .button-pres {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
  
}

.assortment .button-pres:hover {
  background-color: #eab534;  
}

.assortment .button-pres:focus,
.assortment .button-pres:active {
  background-color: #e5a722;
}

.wrapper {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  
}

.about-us {
  padding-top: 80px;
  width: 700px;
  
  background-color: #ffffff;
  background-image: url("img/bg-white.jpg");
  background-position: top center;
  background-repeat: repeat;
}

.about-us b {
  font-size: 45px;
  line-height: 45px;
}

.about-us .work {
  font-weight: bold;
}

.history {
  padding-top: 40px;
  width: 400px;
  margin-left: 60px;
  
  background-color: #ffffff;
  background-image: url("img/bg-white.jpg");
  background-repeat: repeat;
}

.history .offer {
  font-size: 45px;
  line-height: 10px;
}

.campaigns {
  margin-left: 20px;
  margin-right: 20px;
  
  
  background-color: #ffffff;
  background-image: url("img/bg-white.jpg");
  background-position: top center;
  background-repeat: repeat; 
}

.friends {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.buddy {
  width: 260px;
  margin-right: 40px;
  
  opacity: 0.2;
}

.buddy .logo:hover {
  opacity: 1;
}

.buddy .logo:active {
  opacity: 0.1;
}

.buddy:nth-child(4n) {
  margin-right: 0;
}

.map {
  margin-top: 80px;
}

.map img {
  width:100%;
}
.contact h3 {
  font-size: 18px;
  line-height: 30px;
}

.contact p {
  font-size: 16px;
  line-height: 18px;
}

.social {
  list-style: none;
}

.footer-copyright b {
  font-size: 36px;
  line-height: 36px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  
}

.footer-social {
  width: 360px;
  margin-right: 40px;
}

.footer-copyright {
  width: 760px;
}

.appointment-item input,
.appointment-item textarea {
  font:inherit;
  outline: none;
  
  background-color: transparent;
  border: 2px solid grey;
}

.appointment-item input:focus,
.appointment-item textarea:focus{
  border-color: black;
}

.page-title {
  padding-top: 85px;
  padding-left: 220px;
  padding-bottom: 120px;
  padding-left: 220px;
  margin-left: 20px;
  margin-right: 20px;
  
  font-size: 55px;
  line-height: 55px;
}


.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.filters-net,
.filters-features {
  color: #283136;;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.sort {
  font-size: 18px;
  line-height: 18px;
}

.sort-list {
  list-style: none;
}

.sort-item {
  opacity: 0.3;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:focus,
.sort-item:active {
  opacity: 1;
}

.sort-item-current {
  opacity: 1;
}

.catalog-list {
  list-style:none;
}

.catalog-item-price b {
  font-size: 18px;
  line-height: 30px;
  
}

.catalog-item-price p {
  font-size: 16px;
  line-height: 18px;
}

.catalog-item-price a:focus,
.catalog-item-focus a:active {
  color: rgba(255, 255, 255, 1)
}
.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.3);
  background color: #d5d5d5;  
}

.pagination-item-current a {
  background-color: #ffffff;
  border: 1px solid grey;
}

.pagination-item-current a:hover {
  background-color: #dfdfdf;
}

.pagination-item-current a:active,
.pagination-item-current a:focus {
  color: rgba(0, 0, 0, 0.3);
  background color: #d5d5d5;  
}

.catalog-wrapper {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}

.filters {
  width: 260px;
  margin-right: 140px;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
}

.catalog-item {
  margin-bottom: 40px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}