html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  min-width: 1200px;
  
  background-color: #ffffff;
  background-image: url("../img/bg-white.jpg");
  background-position: top center;
  background-repeat: repeat;
}
  
a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.button {
  font: inherit;
  
  display: inline-block;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-container {
  min-width: 1200px;
  margin-right: 20px;
  margin-left: 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
  background-image: url("../img/bg-grey.png");
  background-repeat: repeat;
}

.button:hover,
.button:focus{
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.main-head-logo {
  width: 160px;
  height: 72px;
  margin-right: 177px;
}

.main-head-logo .logo:hover,
.main-head-logo .logo:focus{
  opacity: 0.8;
}

.main-head-logo .logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  
  padding-top: 48px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
  
.site-navigation-wrapper {
  display: flex;
  justify-content: space-between;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  
  width: 640px;
  list-style: none;
  
  margin-top: 0;
  padding-top: 13px;
  padding-left: 4px;
}

.site-navigation a {
  padding: 18px 23px;
  align-items: center;
}

.cart {
  display: flex;
  align-items: center;
  
  max-width: 160px;
  list-style: none;
  padding-right: 65px;
  margin: 0;
 }

.cart .cart-link {
  position: relative;
  padding-left: 40px;
}

.cart-link::before {
  content: "";
  
  position: absolute;
  top: 0px;
  left: 0px;
  
  width: 15px;
  height: 16px;
  
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}

.site-navigation,
.cart {
  list-style: none;
}

.site-navigation a,
.cart a {
  display: block;
  color: #000000;
}
  
.site-navigation a:hover,
.cart a:hover {
  color: #fb565a;
}
  
.site-navigation a:focus,
.cart a:focus {
  color: rgba(0, 0, 0, 0.3)
}
 
.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";

  position: absolute;
  right: 24px;
  bottom: 7px;
  left: 23px;

  height: 2px;

  background-color: red;
}

.container-slider {
  width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
  position: relative;
  z-index: 1;
}

.slider-controls {
  position: absolute;
  left: 47.5%;
  bottom: 99px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.feature-list {
  display: none;
  padding: 45px 0 72px 0;
}

.feature-list:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% -1px;
}

.feature-list:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.feature-list:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .features .feature-list:nth-child(1) {
  display: block;
}

#product-2:checked ~ .features .feature-list:nth-child(2) {
  display: block;
}

#product-3:checked ~ .features .feature-list:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
 
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.features {
  padding: 0;
  margin: 0;
}

.slider-item-button {
  display: block;
  
  width: 240px;
  padding: 17px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.feature-list h3 {
  max-width: 600px;
  
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.feature-list p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.assortment {
  display: flex;
  
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
  
  background-color: #ffffff;
  background-image: url("../img/bg-white.jpg");
  background-position: top center;
  background-repeat: repeat;
}

.assortment-item a {
  padding: 15px 38px;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
}

.assortment-item {
  width: 300px;
  margin-right: 100px;
}

.assortment-item:nth-child(3) {
  margin-right: 60px;
}

.assortment-item h3 {
  font-size: 24px;
  font-style: 34px;
  text-transform: uppercase;
}

.assortment-item .button {
  padding: 12px 39px;
}

.assortment a:active {
  box-shadow: inset 0px 3px 2px 0px #c13135;
}

.assortment .button-apps {
  display: inline-block;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none; 
}

.assortment .button-apps:hover {
  background-color: #00bc6c;  
}

.assortment .button-apps:focus,
.assortment .button-apps:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0px 3px 2px 0px #009958;
}

.assortment .button-pres {
  display: inline-block;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
}

.assortment .button-pres:hover {
  background-color: #eab534;  
}

.assortment .button-pres:focus,
.assortment .button-pres:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0px 3px 2px 0px #ce961f;
}

.assortment-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.about-us {
  padding-top: 77px;
  width: 700px;
  
  background-color: #ffffff;
  background-image: url("../img/bg-white.jpg");
  background-position: top center;
  background-repeat: repeat;
}

.about-us b {
  font-size: 45px;
  line-height: 45px;
}

.about-us .work {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.about-us p {
  margin: 0;
  margin-top: 35px;
}

.about-us .order {
  list-style: none;
  position: relative;
}

.order .order-item {
  margin-bottom: 25px;
}

.order .order-item::before {
  content: "";
  margin-top: 10px;
  
  position: absolute;
  left: 0;
  right: 674px;
  
  height: 2px;

  background-color: red;
}

.history {
  padding-top: 46px;
  width: 420px;
  
  background-color: #ffffff;
  background-image: url("../img/bg-white.jpg");
  background-repeat: repeat;
}

.history p {
  margin: 0;
  margin-top: 27px;
  margin-left: 9px;
  
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.offer {
  display: flex;
  justify-content: space-between;
  
  list-style: none;
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
  
  width: 310px;
  
  padding-top: 14px;
  padding-left: 0;
  margin-bottom: 0;
}

.offer sup {
  font-size: 28px;
}

.offer-1 {
  display: flex;
  justify-content: space-evenly;
  
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  
  width: 350px;
  
  padding-top: 20px;
  padding-left: 3px;
  
}

.offer-1 li {
  padding-right: 18px; 
}

.campaigns {
  width: 1160px;
  margin-top: 45px;
  
  background-color: #ffffff;
  background-image: url("../img/bg-white.jpg");
  background-position: top center;
  background-repeat: repeat; 
}

.friends {
  display: flex;
  justify-content: space-between;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.buddy {
  position: relative;
  
  width: 260px;
  margin-right: 40px;
}

.buddy img {
  opacity: 0.2;
}

.buddy::before {
  content: "";
  margin-top: 10px;
  
  position: absolute;
  left: -50px;
  right: 250px;
  top: 80px;
 
  transform: rotate(90deg);
  height: 2px;
  background-color: #eeeeee;
}

.buddy img:hover {
  opacity: 1;
}

.buddy img:active {
  opacity: 0.1;
}

.buddy:nth-child(4n) {
  margin-right: 0;
}

.main-map {
  width: 100%;
  position: relative;
}

.map {
  height: 416px;
  margin-top: 76px;
}

.map img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%
}

.contact a {
  margin-top: 37px;
  padding: 13px 39px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;  
}

.contact-wrapper {
  position: absolute;
  top: 55px;
  left: 20px;
  width: 220px;
  background-color: #ffffff;
  padding: 31px 65px 46px 37px;
}

.contact {
  padding-left: 12px;
}

.contact a:active {
  box-shadow: inset 0px 3px 2px 0px #c13135; 
}

.contact h3 {
  font-size: 18px;
  line-height: 30px;
}

.contact p {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding-top: 6px;
}

.social {
  list-style: none;
}

.footer-copyright b {
  font-size: 36px;
  line-height: 36px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  
  margin-left: 20px;
  margin-right: 20px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width: 260px;
  
  text-decoration: none;
  list-style-type: none;
  
  padding-top: 50px;
  padding-left: 0;
}

.social-item .button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 79px;
  height: 79px;
  
  background-color: #e1e1e1;
  border-radius: 50%; 
}

.social-item .button:hover {
  background-color: #e74246;
}

.social-item .button:active {
  background-color: #d7373b;
  box-shadow:inset 0px 3px 2px 0px #c13135;
}

.social-item .button:active path {
  opacity: 0.3;
}

.footer-copyright {
  padding-top: 73px;
  width: 760px;
  margin-right: 64px;
}

.footer-copyright p {
  margin: 0 ;
  margin-top: 8px;
}

.appointment-item input,
.appointment-item textarea {
  font: inherit;
  outline: none;
  
  opacity: 0.5;
}

.appointment-item input:hover,
.appointment-item textarea:hover {
  border-color: #b4b9bb;
  opacity: 0.5;
}

.appointment-item input:focus,
.appointment-item textarea:focus{
  border-color: #000000;
  color: #444444;
  opacity: 1;
}

.appointment-item input:invalid {
  border-color: #e74246;
  color: #e74246;
}

.modal {
  position: fixed;
  color: #000000;
  
  display: none;
  
  background-color: #ffffff;
  background-position: 0 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
  display: block;
}

.popup {
  left: 10%;
  top: 5px;
  
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 85px;
  width: 760px;
}

.popup h2 {
  margin: 0;
  margin-bottom: 45px;
  
  font-size: 45px;
  line-height: 45px;
}

.popup-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal span {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.write-us input[type="text"] {
  box-sizing: border-box;
  width: 360px;
  margin-top: 5px;
  padding: 10px 15px;
  font: inherit;
  color: #000000;
}

.popup-button {
  padding: 20px 80px;
  
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  font-size: 16px;
  line-height: 18px;
  
  background-color: #fb565a;
  border-radius: 3px;
  outline: none;
}

.modal-close {
  position: absolute;
  top: 82px;
  right: 89px;
  
  width: 22px;
  height: 22px;

  font-size: 0;

  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  border: 0;
  
  outline: none;
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1; 
}

.modal-close:active {
  opacity: 0.1;
}

.appointment-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.appointment-item textarea {
  padding: 10px 15px;
}

.popup-button:hover {
  background-color: #e74246;
}

.popup-button:active,
.popup-button:focus {
  background color: #d7373b;
  box-shadow: inset 0px 3px 2px 0px #c13135;
  color: rgba(255, 255, 255, 0.3);
}

.page-title {
  padding-bottom: 115px;
  background-color: #eeeeee;
  background-image: url("../img/bg-grey.png"); 
}

.title h2 {
  padding-right: 69px;
  padding-top: 43px;
  margin: 0;
  
  text-align: center;
  font-size: 55px;
  line-height: 55px;
}

.filter-icons {
  list-style: none;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.filters-net,
.filters-features {
  color: #283136;
}

.filter-button {
  display: inline-block;
  
  padding: 16px 90px;
  
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  font-size: 16px;
  line-height: 18px;
  
  background-color: #eeeeee;
  border-radius: 3px;
  outline: none;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active,
.filter-button:focus {
  color: rgba(0, 0, 0, 0.3);
  background color: #d5d5d5;
  box-shadow: inset 0px 3px 2px 0px #bfbfbf; 
}

.sort {
  font-size: 18px;
  line-height: 18px;
}

.sort-item {
  opacity: 0.3;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:focus,
.sort-item:active {
  opacity: 1;
}

.sort-item-current {
  opacity: 1;
}

.catalog-item-price b {
  font-size: 18px;
  line-height: 30px;
  
}

.catalog-item-price p {
  font-size: 16px;
  line-height: 18px;
}

.catalog-item-price a:focus,
.catalog-item-focus a:active {
  color: rgba(255, 255, 255, 1)
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  
  padding: 0;
  margin: 0;
  padding-top: 15px;
  list-style: none;
}

.pagination-item {
  margin-right: 14px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  padding: 14px 19px;
  
  border-radius: 1px;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.3);
  background color: #d5d5d5;  
}

.pagination-item-current a {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  padding: 11px 17px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a:active {
  color: rgba(0, 0, 0, 0.3);
  background color: #d5d5d5;  
}

.pagination-list .next a {
  padding: 14px 77px;
}

.catalog-wrapper {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 33px;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filters legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.sort-wrapper {
  width: 760px;
  display: flex;
  justify-content: space-between;
}

.sort-list {
  display: flex;
  width: 380px;
  justify-content: space-between;
  list-style: none;
  
  margin-top: 5px;
}

.sort-wrapper2 {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.filter-icons {
  display: flex;
  width: 60px;
  justify-content: space-between; 
}

.icon-up a {
  opacity: 0.4;
}

.sort-list p {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort b {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.filters {
  width: 260px;
  margin-right: 140px;
  margin-top: 20px;
}

.filters-wrapper {
  margin-top: 60px;
}

.filters-wrapper fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  
  border: none;
}

.filters-wrapper legend {
  margin-bottom: 19px;
}

.filters-wrapper ul {
  padding: 0;
  margin: 0;
  
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  
  width: 28px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: -35px;
  
  width: 28px;
  height: 23px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.4;
}

.filter-option:hover label::after {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -37px;
  top: -1px;

  width: 20px;
  height: 20px;
  
  border: 3px solid #b8b8b8;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -29px;

  width: 10px;
  height: 10px;

  background-color: #b8b8b8;
  border-radius: 50%;
}

.catalog {
  width: 760px;
}

.catalog-header {
  padding-top: 18px;
  background-color: #e6e6e6;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.catalog-header span {
  position: relative;
  padding: 12px;
}

.catalog-header span::after {
  content: "";

  position: absolute;
  bottom: 25px;
  right: -5px;
  
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  
  margin: 0;
  margin-top: 27px;
  margin-bottom: 15px;
  padding: 0;
  
  list-style: none;
}

.catalog-item img {
  cursor: pointer;
}

.catalog-item {
  position: relative;
  margin-bottom: 25px;
  margin-right: 40px;
  background-color: #ffffff;
  border-radius: 3px;
  
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-price {
  position: absolute;
  
  top: 358px;
  width: auto;
  height: auto;
  
  text-align: center;
  margin-top: 30px;
  padding-top: 25px;
  
  background-color: #eeeeee;
  display: none;
  cursor: pointer;
}

.catalog-item:hover .catalog-item-price {
  position: absolute;
  
  top: 358px;
  width: 360px;
  height: 206px;
  
  text-align: center;
  margin-top: 30px;
  padding-top: 25px;
  
  background-color: #eeeeee;
  display: block;
  cursor: pointer;
}

.catalog-item:hover .catalog-header {
  background-color: #4d4d4d;
  cursor: pointer;
}

.catalog-item-price a {
  margin-top: 10px;
  padding: 18px 60px;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  font-size: 16px;
  line-height: 18px;
  
  background-color: #fb565a;
  border-radius: 3px;
}

.catalog-item-price a:active,
.catalog-item-price a:focus {
  box-shadow: inset 0px 3px 2px 0px #c13135; 
}